.jumbotron {
    background-color: black;
    background-size: 20%;
    border-radius: 0;
    color: rgb(163, 162, 162);
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: rgb(235, 235, 235);
    font-family: 'Noto Sans JP', sans-serif;
}

body::after {
    content: "";
    position: fixed;
    left: 0px;
    right: 0px;
    top: 50px;
    bottom: 0px;
    background-image: url(../todo.jpg);
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
}

.form-group {
    width: 50%;
}